# 1 更换 yum源为ali源，2 不更换yum源
aliyun="1"

# 1 改主机名，2 不改主机名
changsHostname="2"
hostname="mysql"

# 过滤IP段
ip_segment="192.168.31"
# 部署主推节点 
masterip="192.168.31.146"
root_passwd="root123."
# nfs共享目录
nfs_path="/data"
# 权限及IP配置，默认所有IP都可以挂载
permission="*(rw,no_root_squash,no_all_squash,sync,anonuid=501,anongid=501)"