# 过滤IP段
ip_segment="192.168.88"
# 必填项
masterip="192.168.88.113"

#java版本号
version="1.8.0"

# 1 更换 yum源为ali源，2 不更换yum源
aliyun=2
# 1 安装java，2 不安装
java=1
# 1 安装maven，2 不安装
maven=1
root_passwd="root123."
#tomcat安装路径
tomcat_install_path="/opt/tomcat"
#tomcat版本参数配对使用。只有这三种可以选
parent_version="8"
tomcat_version="8.5.47"

#parent_version="9"
#tomcat_version="9.0.27"

#parent_version="7"
#tomcat_version="7.0.96"
#安装完成可以访问8080端口测试是否安装完毕
hostip=(
192.168.88.113
)
