# 1 更换 yum源为ali源，2 不更换yum源
aliyun="1"
# 1 改主机名，2 不改主机名
changsHostname="2"
hostname="mysql"
# 过滤IP段
ip_segment="192.168.31"
# 部署主推节点 
masterip="192.168.31.146" #备份服务器IP
root_passwd="root123." #服务器root密码
# 备份周期 crontab写法
workTime="00 03 * * *"
# 备份服务器是否需要安装mysql客户端 ,1安装，2不用安装。PS如果没有mysql客户端将无法进行备份
installMysql="1"


# mysql备份信息
mysql_user="root" #MySQL备份用户
mysql_password="root123." #MySQL备份用户的密码
mysql_host="localhost" #MySQL备份服务器地址
mysql_port="3306" #MySQL数据库端口
mysql_charset="utf8" #MySQL编码
backup_db_arr=("peabox") #要备份的数据库名称，多个用空格分开隔开 如("db1" "db2" "db3")
backup_location=/resource_bak/mysqlBack #备份数据存放位置，末尾请不要带"/",此项可以保持默认，程序会自动创建文件夹
expire_backup_delete="ON" #是否开启过期备份删除 ON为开启 OFF为关闭
expire_days=3 #过期时间天数 默认为三天，此项只有在expire_backup_delete开启时有效
