# 1 更换 yum源为ali源，2 不更换yum源
aliyun="1"
# 1 改主机名，2 不改主机名
changsHostname="2"
hostname="mysql"
# 过滤IP段
ip_segment="192.168.31"
# 部署主推节点 
masterip="192.168.31.146" #备份服务器IP
root_passwd="root123." #服务器root密码

# 备份源路径(本地)
src="/resource/data/docker/filesystem-new/resources/data/source/"    
# 备份目标路径（可部署nfs或者其他存储mount到该服务器进行备份）                      
des="/resource_bak"
